
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}


.contenedor {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background: #f2f2f2;
}


footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

subtitulo-intenciones {
    /* Añade espacio después de la categoría para separarla del texto de la lista */
    margin-top: 25px;
    margin-bottom: 15px;
}


.ui-autocomplete {
    /* Altura máxima para la lista de sugerencias (ajusta a tu gusto) */
    max-height: 300px; 
    
    /* Permite el scroll vertical si la lista excede el max-height */
    overflow-y: auto; 
    
    /* Opcional: Oculta el scroll horizontal si aparece */
    overflow-x: hidden;
    
    /* Asegura que la lista quede encima de otros elementos (importante para modales o menús) */
    z-index: 1000; 
}


/* Reducir tamaño de letra y espaciados */
/*#con-registros {
    font-size: 1.85rem;
}*/

#con-registros th, 
#con-registros td {
    padding: 8px 4px !important; /* Menos espacio interno */
    white-space: nowrap; /* Evita que el texto salte de línea, manteniendo orden */
    overflow: hidden;
    text-overflow: ellipsis; /* Si el texto es muy largo, pone "..." */
    max-width: 310px; /* Limita el ancho de las celdas */
}

/* Permitir que solo ciertas celdas importantes se expandan */
#con-registros td:hover {
    white-space: normal; /* Al pasar el mouse, muestra todo el texto */
    overflow: visible;
}